:root {
  --border-radius: 5px;
  --border-color: black;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  background-color: #c6e2e9;
}
